:root {
  --primary: #8e4957;
  --surfaceTint: #8e4957;
  --onPrimary: #ffffff;
  --primaryContainer: #ffd9de;
  --onPrimaryContainer: #3a0716;
  --secondary: #75565b;
  --onSecondary: #ffffff;
  --secondaryContainer: #ffd9de;
  --onSecondaryContainer: #2c1519;
  --tertiary: #795832;
  --onTertiary: #ffffff;
  --tertiaryContainer: #ffddbb;
  --onTertiaryContainer: #2b1700;
  --error: #ba1a1a;
  --onError: #ffffff;
  --errorContainer: #ffdad6;
  --onErrorContainer: #410002;
  --background: #fff8f7;
  --onBackground: #22191b;
  --surface: #fff8f7;
  --onSurface: #22191b;
  --surfaceVariant: #f3dddf;
  --onSurfaceVariant: #524345;
  --outline: #847375;
  --outlineVariant: #d6c2c4;
  --shadow: #000000;
  --scrim: #000000;
  --inverseSurface: #382e2f;
  --inverseOnSurface: #feedee;
  --inversePrimary: #ffb2bf;
  --primaryFixed: #ffd9de;
  --onPrimaryFixed: #3a0716;
  --primaryFixedDim: #ffb2bf;
  --onPrimaryFixedVariant: #713340;
  --secondaryFixed: #ffd9de;
  --onSecondaryFixed: #2c1519;
  --secondaryFixedDim: #e4bdc2;
  --onSecondaryFixedVariant: #5c3f44;
  --tertiaryFixed: #ffddbb;
  --onTertiaryFixed: #2b1700;
  --tertiaryFixedDim: #ebbe90;
  --onTertiaryFixedVariant: #5f401c;
  --surfaceDim: #e7d6d7;
  --surfaceBright: #fff8f7;
  --surfaceContainerLowest: #ffffff;
  --surfaceContainerLow: #fff0f1;
  --surfaceContainer: #fbeaeb;
  --surfaceContainerHigh: #f5e4e5;
  --surfaceContainerHighest: #f0dee0;

  --white: #fff8f7;
  --black: #191112;
}

[data-theme="dark"] {
  --primary: #ffb2bf;
  --surfaceTint: #ffb2bf;
  --onPrimary: #561d2b;
  --primaryContainer: #713340;
  --onPrimaryContainer: #ffd9de;
  --secondary: #e4bdc2;
  --onSecondary: #43292e;
  --secondaryContainer: #5c3f44;
  --onSecondaryContainer: #ffd9de;
  --tertiary: #ebbe90;
  --onTertiary: #452a08;
  --tertiaryContainer: #5f401c;
  --onTertiaryContainer: #ffddbb;
  --error: #ffb4ab;
  --onError: #690005;
  --errorContainer: #93000a;
  --onErrorContainer: #ffdad6;
  --background: #191112;
  --onBackground: #f0dee0;
  --surface: #191112;
  --onSurface: #f0dee0;
  --surfaceVariant: #524345;
  --onSurfaceVariant: #d6c2c4;
  --outline: #9f8c8e;
  --outlineVariant: #524345;
  --shadow: #000000;
  --scrim: #000000;
  --inverseSurface: #f0dee0;
  --inverseOnSurface: #382e2f;
  --inversePrimary: #8e4957;
  --primaryFixed: #ffd9de;
  --onPrimaryFixed: #3a0716;
  --primaryFixedDim: #ffb2bf;
  --onPrimaryFixedVariant: #713340;
  --secondaryFixed: #ffd9de;
  --onSecondaryFixed: #2c1519;
  --secondaryFixedDim: #e4bdc2;
  --onSecondaryFixedVariant: #5c3f44;
  --tertiaryFixed: #ffddbb;
  --onTertiaryFixed: #2b1700;
  --tertiaryFixedDim: #ebbe90;
  --onTertiaryFixedVariant: #5f401c;
  --surfaceDim: #191112;
  --surfaceBright: #413738;
  --surfaceContainerLowest: #140c0d;
  --surfaceContainerLow: #22191b;
  --surfaceContainer: #261d1f;
  --surfaceContainerHigh: #312829;
  --surfaceContainerHighest: #3c3233;

  --white: #fff8f7;
  --black: #191112;
}

body {
  /* BODY */
  --body-bg: var(--surfaceDim);

  /* HEADER */
  --header-text-color: var(--onSurface);
  --header-bg-color: var(--surfaceContainer);
  --header-shadow-color: var(--surfaceVariant);

  /* FOOTER */
  --footer-bg-color: var(--surfaceContainer);
  --footer-text-color: var(--onSurface);

  /* CARD */
  --card-bg-color: var(--surface);
  --card-border-color: var(--outline);
  --card-text-color: var(--onSurface);
  --card-shadow-color: var(--outlineVariant);

  /* BUTTON */
  --button-bg-color-primary: var(--primaryContainer);
  --button-text-color-primary: var(--onPrimaryContainer);
  --button-border-color-primary: var(--primary);
  --button-shadow-color-primary: var(--primary);

  --button-bg-color-secondary: var(--secondaryContainer);
  --button-text-color-secondary: var(--onSecondaryContainer);
  --button-border-color-secondary: var(--secondary);
  --button-shadow-color-secondary: var(--secondary);

  --button-bg-color-tertiary: var(--tertiaryContainer);
  --button-text-color-tertiary: var(--onTertiaryContainer);
  --button-border-color-tertiary: var(--tertiary);
  --button-shadow-color-tertiary: var(--tertiary);

  --button-bg-color-error: var(--errorContainer);
  --button-text-color-error: var(--onErrorContainer);
  --button-border-color-error: var(--error);
  --button-shadow-color-error: var(--error);

  --button-bg-color-disabled: var(--surfaceContainer);
  --button-text-color-disabled: var(--onSurfaceVariant);
  --button-border-color-disabled: var(--outlineVariant);
  --button-shadow-color-disabled: var(--outlineVariant);

  --button-bg-color-dark: var(--black);
  --button-text-color-dark: var(--white);
  --button-border-color-dark: var(--white);
  --button-shadow-color-dark: var(--white);

  --button-bg-color-light: var(--white);
  --button-text-color-light: var(--black);
  --button-border-color-light: var(--black);
  --button-shadow-color-light: var(--black);
}
